<ion-content [fullscreen]="true">
  <ion-content>

     <ion-row class="ion-justify-content-center">

      <!-- ESQUERDA -->
      <ion-col size="6">
        <img src="https://i.pinimg.com/736x/31/fb/f8/31fbf8d9350b5a7c41ca4bde8708368d.jpg" width="100%" height="100%">
      </ion-col>

      <!-- DIREITA -->
      <ion-col size="6">
          <ion-row class="ion-justify-content-center">
            <ion-col size="5">

                 <ion-label class="h1">CRIAR CONTA</ion-label>

        <ion-item>
          <ion-label class="h1">NOME:</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="h1">E-MAIL:</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="h1">SENHA:</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="h1">CONFIRMAR SENHA:</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>

        <ion-button class="h1" size="small" expand="block" color="">
          Criar conta
        </ion-button>
            </ion-col>
          </ion-row>
       

      </ion-col>

    </ion-row>

</ion-content>