
<ion-content [fullscreen]="true" class="bg-black">
     <ion-row class="ion-justify-content-center">

      <!-- ESQUERDA -->
      <ion-col size="6" class="bg-img">
</ion-col>

      <!-- DIREITA -->
      <ion-col size="6">
          <ion-row class="ion-justify-content-center">
            <ion-col size="5">

                 <ion-label class="titulo">CRIAR CONTA</ion-label>

        <ion-item>
          <ion-label class="h1">NOME:</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="h1">E-MAIL:</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="h1">SENHA:</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="h1">CONFIRMAR:</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>

        <ion-button class="h1" size="small" expand="block" color="medium">
          Criar conta
        </ion-button>
           
         <ion-label class="h1 login">LOGIN COM</ion-label>
        <ion-button class="h1" size="small" expand="block" color="medium">
          FACEBOOK
        </ion-button>
        <ion-button class="h1" size="small" expand="block" color="medium">
          TWITTER
        </ion-button>
        <ion-button class="h1" size="small" expand="block" color="medium">
          GOOGLE
        </ion-button>

            </ion-col>
          </ion-row>
      
      </ion-col>

    </ion-row>

</ion-content>
